.point-button {
    height: 16px;
    left: -9px;
    opacity: 0;
    position: relative;
    top: -13px;
    width: 16px;
}

.point-button:hover {
    opacity: 1;
}

.content {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.title {
    height: 43px;
}

.design-content {
    border: solid 1px;
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 43px);
}

.design-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    position: relative;
}

.grid {
    justify-content: start;
    display: grid;
    grid-column-gap: 32px;
    grid-template-columns: 1fr 3fr;
    height: 100%;
}

.line {
    box-sizing: border-box;
    border-style: solid solid solid solid;
    border-width: 1px;
    height: 50px;
    margin: 0px;
    vertical-align: bottom;
    width: 50px;
    line-height: 0;
}

.line.top-cell {
    /* border-style: solid solid solid solid; */
}

.line.right-cell {
    /* border-style: solid solid solid solid; */
}

.line.first-cell {
    /* border-style: solid solid solid solid; */
}

.pattern-name {
    height: fit-content;
}

.row {
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
    left: 0;
}

.column {
    height: 100%;
    width: 1px;
    background-color: black;
    position: absolute;
    top: 0;
}
